<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>3D Storage</title>
</head>
<body>
    <header>
        <!-- {{ ... }} — это переменная. Мы передадим её из Python -->
        <h1>{{ page_title }}</h1>
    </header>

    <main>
        <h2>Доступные ассеты:</h2>
        <!-- Цикл for в шаблоне Django -->
        <ul>
            {% for asset in assets %}
                <li>
                    <strong>{{ asset.name }}</strong>
                    <small>(Размер: {{ asset.file_size }})</small>
                    <!-- Ссылка-заглушка -->
                    <a href="#">[Скачать]</a>
                </li>
            {% empty %}
                <!-- Этот блок сработает, если список assets пустой -->
                <li>Нет доступных моделей.</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Web Structures Course</p>
    </footer>
</body>
</html>